/* Working.css */

.working-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid gray;
  margin-top: 50px;
}
    
    .working-container h1 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    input[type="time" i] {
      font-family: monospace;
      padding-inline-start: 1px;
      cursor: default;
      align-items: center;
      display: inline-flex;
      overflow: hidden;
      padding: 4px;
  }
  
  .description-follow-container {
    position: relative;
  }
  
  .follow-button {
    position: absolute;
    margin-top: -108px;
    right: 0;
    left: 80%;
  }
  
    
    .calendar-container {
      margin-bottom: 20px;
    }
    
    .calendar-container1 {
      margin-bottom: 20px;
    }
    
    
    .buttons {
      background-color: #050505;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    
    
    .working-description-box {
      margin-bottom: 20px;
    }
    
    .description-sentence {
      display: block;
      margin-bottom: 5px;
    }
    
    .descriptio-box {
      width: 80%;
      height: 100px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }
  
    .modal-descriptio-box {
      width: 25%; /* Adjust width as needed */
      height: 100px; /* Adjust height as needed */
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
  }
    
    /* PermissionPage.css */
    
    .permission-container {
      max-width: 450px;
        margin: 0 auto;
        padding: 30px;
        border: 1px solid gray;
    }
    
    .permission-container h1 {
      /* text-align: center; */
      margin-bottom: 20px;
    }
  .textarea{
      width: 80%;
      height: 100px;
      padding: 10px;
      
      border-radius: 4px;
      resize: vertical;
  }
    
    
    .period-buttons {
      margin-bottom: 20px;
    }
    
    .button-morning, .button-afternoon {
      background-color: #0d0d0e;
      border: none;
      color: white;
      padding: 10px 20px;
      /* text-align: center; */
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    
    /* PrivilegeLeaveForm.css */
    
    .privilege-container {
      max-width: 450px;
      margin: 0 auto;
      padding: 30px;
      box-shadow: -6px 6px 75px #c9c9c9, 16px -16px 25px #ffffff;
    }
    
  
  
    .privilege-container h1 {
      /* text-align: center; */
      margin-bottom: 20px;
    }
    
    .textarea-privilege-container {
      margin-bottom: 20px;
    }
    
    .textarea {
      width: 80%;
      height: 100px;
      padding: 10px;
      box-sizing: border-box;
      /* border: 1px solid #ccc;
      border-radius: 4px; */
      resize: vertical;
    }
    
  
    .button-privilege-container button {
      background-color: #080808;
      border: none;
      color: white;
      padding: 10px 20px;
      /* text-align: center; */
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  
    }
    .button-privilege-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    
    /* SickLeaveForm.css */
    
    .sick-container {
      max-width: 450px;
      margin: 0 auto;
      padding: 30px;
      border: 1px solid gray;
    }
    
    .sick-container h1 {
      /* text-align: center; */
      margin-bottom: 20px;
    }
    
    .description4-container {
      margin-bottom: 20px;
    }
    
    .description4-sentence {
      display: block;
      margin-bottom: 5px;
    }
    
    .sick-button {
      background-color: #050505;
      border: none;
      color: white;
      padding: 10px 20px;
      /* text-align: center; */
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    
    
  
  .react-calendar__navigation button {
    min-width: 50px !important;
    background: none !important;
    color: black !important;
    background-color: gray !important;
    margin: 3px !important;
  }
  
  .privilegeinput label{
    margin-right: 20px;
  
  }
  .privilegeinput .date{
    margin-right: 38px;
  
  }
  .privilegeinput input[type="text" ] {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 13px;
    width: 20%;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar, .react-calendar *, .react-calendar *:before, .react-calendar *:after {
    box-sizing: border-box;
    color: black !important;
  }
  
  .privilegetextarea textarea {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 13px;
    width: 75%;
    height: 70px;
    margin-top: 10px;
  }
  .privilegetextarea{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-top: 20px;
  }
  .permissiondate label{
    margin-right: 20px;
  }
  .permissiondate1 label{
    margin-right: 25px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* stylepage2.css */
  
  /* Modal Container Styles */
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Styles */
  .modal {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%; /* Adjust width as needed */
    max-width: 500px; /* Optional: set max-width to prevent modal from becoming too wide */
    max-height: 80%; /* Optional: set max-height to prevent modal from becoming too tall */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds modal height */
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal label {
    display: block;
    margin-bottom: 5px;
  }
  
  .modal textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .modal input[type="file"] {
    margin-bottom: 10px;
  }
  
  .modal button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .modal button:last-child {
    margin-right: 0;
    background-color: #dc3545;
  }
  
  .modal button:hover {
    background-color: #0056b3;
  }
  
  .modal button:last-child:hover {
    background-color: #c82333;
  }
  
  input[type="text" ] {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 12px;
    /* width: 25%; */
  }
  
  .fade-out {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }
  .login-container input[type="password" i] {
    -webkit-text-security: disc !important;
    padding-block: 3px;
    padding-inline: 2px;
    border-radius: 5px;
    padding: 9px;
    font-size: 13px;
    color: black;
    margin-right: 110px;
    width: 93%;
    border: 1px solid#ccc;
  }
  
  .btn-logout2 {
    background-color: #070707;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
    margin-left: 85%;
  }

 
  .user2 {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .user2 h2 {
    color: #333;
  }
  
  .user2 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user2 table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .user2 table th {
    background-color: #f2f2f2;
  }
  
  .user2 button {
    padding: 8px 16px;
    background-color: #060706;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .user2 button:hover {
    background-color: #020202;
  }
  
  .modal1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    /* width: 100%; */
    height: 51%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    margin-top: 200px;
    margin-left: 358px;
  }
  
  .modal1-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .close1 {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close1:hover,
  .close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .user2 textarea {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .user2 input[type="file"]{
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .user2 input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .user2 button {
    margin-right: 8px;
  }
  
  .user2 table th {
    background-color: #000;
    color: #fff;
  }
  
  .user2 table tbody tr:nth-child(odd) td {
    background-color: #fff; /* White background for odd rows */
  }
  
  .user2 table tbody tr:nth-child(even) td {
    background-color: #000; /* Black background for even rows */
    color: #fff; /* White text color for even rows */
  }
  
  .user2 table tbody tr:nth-child(even) td button {
    background-color: #fff; /* White button color for even rows */
    color: #000; /* Black text color for buttons in even rows */
  }
  
  
  .user3 {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .user3 h2 {
    color: #333;
  }
  
  .user3 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user3 table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .user3 table th {
    background-color: #f2f2f2;
  }
  
  .user3 button {
    padding: 8px 16px;
    background-color: #060706;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .user3 button:hover {
    background-color: #020202;
  }
  
  
  .user3 table th {
    background-color: #000;
    color: #fff;
  }
  
  .user3 table tbody tr:nth-child(odd) td {
    background-color: #fff; /* White background for odd rows */
  }
  
  .user3 table tbody tr:nth-child(even) td {
    background-color: #000; /* Black background for even rows */
    color: #fff; /* White text color for even rows */
  }
  
  .user3 table tbody tr:nth-child(even) td button {
    background-color: #fff; /* White button color for even rows */
    color: #000; /* Black text color for buttons in even rows */
  }
  
  .description1{
    background-color: #070707;
      color: #fff;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s;
      margin: 10px;
  }

  /* AddUser.css */
.Main-container {
  max-width: 450px;
  
  margin: 0 auto;
  padding: 20px;
  margin-top: 10%;
  border-radius: 39px;
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  margin-bottom: 20px;
  box-shadow:  -16px 16px 25px #c9c9c9,
           16px -16px 25px #ffffff;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;

  
}

input[type="text1" ] {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
   
}

input[type="date" i] {
  cursor: default;
  display: inline-flex;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
  width: 51%;
  font-size: 10px;
  color: black;
}

.adminadd{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 300px;
margin: 5px;
}



/* .Main2-container {
  /* background-color: #f0f0f0; */
  /* padding: 20px; */
  /* border-radius: 8px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
/* } */ */

.submit-button button {
  background-color: #0f0f0f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

.submit-button:hover {
  background-color: #57595a;
}

/* AdminLogin.css */
.Admin-container {
  max-width: 450px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 10%;
    border-radius: 39px;
background: linear-gradient(225deg, #e6e6e6, #ffffff);
box-shadow:  -16px 16px 25px #c9c9c9,
           16px -16px 25px #ffffff;
}

input[type="email" i] {
  padding-block: 3px;
  padding-inline: 2px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  color: black;
}

input[type="password" i] {
  -webkit-text-security: disc !important;
  padding-block: 3px;
  padding-inline: 2px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  color: black;
}

.password-input {
position: relative;
}

.password-input .buttonpass {
position: absolute;
right: 140px;
top: 58%;
transform: translateY(-50%);
cursor: pointer;
margin-right: -9%;
}


/* 
.eye-icon {
  position: absolute;
  top: 65%;
  right: 100px;
  transform: translateY(-50%);
  cursor: pointer;
} */

.login-button1 {
  background-color: #080808;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button1:hover {
  background-color: #89948c;
}

.error-message {
  color: red;
}

/* AdminPage.css */
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn-primary {
  background-color: #0d0d0e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #5c5757;
}

.btn-logout {
  background-color: #070707;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

.btn-logout:hover {
  background-color: #494545;
}

.Admin-container1 {
  max-width: 450px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 10%;
    border-radius: 39px;
background: linear-gradient(225deg, #e6e6e6, #ffffff);
box-shadow:  -16px 16px 25px #c9c9c9,
           16px -16px 25px #ffffff;
}

.Admin-container1{
input[type="text" ] {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
  width: 65%;
}

input[type="email" i] {
  padding-block: 3px;
  padding-inline: 2px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  color: black;
  width: 65%;
}

input[type="password" i] {
    -webkit-text-security: disc !important;
    padding-block: 3px;
    padding-inline: 2px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    color: black;
    width: 65%;
}

textarea {
  font-family: monospace;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  resize: none;
  cursor: text;
  overflow-wrap: break-word;
  background-color: field;
  column-count: initial !important;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 10px;
  white-space: pre-wrap;
  width: 65%;
  border-radius: 5px;
}


select {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  -webkit-rtl-ordering: logical;
  background-color: field;
  cursor: default;
  margin: 0em;
  white-space: pre;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 0px;
  width: 70%;
  padding: 10px;
  border-radius: 5px;
}

}

.btn-logout1 {
  background-color: #070707;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
  margin-left: 130%;
}

.btn-logout1:hover {
  background-color: #494545;
}

.Admin-container label {
  margin-right: 7px;
    cursor: default;
}

.Admin-container label1 {
  margin-right: 30px;
  cursor: default;
}

.Admin-container1 label {
  margin-right: 52%;
    cursor: default;
}

.Admin-container1 label1 {
  margin-right: 57%;
    cursor: default;
}

.Admin-container1 label2 {
  margin-right: 52%;
    cursor: default;
}

.Admin-container1 label3 {
  margin-right: 60%;
    cursor: default;
}

.Admin-container1 label8 {
  margin-right: 55%;
    cursor: default;
}

.Admin-container1 label4 {
  margin-right: 54%;
    cursor: default;
}

.Admin-container1 label5 {
  margin-right: 47%;
    cursor: default;
}

.Admin-container input[type="email" i] {
  padding-block: 3px;
  padding-inline: 2px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  color: black;
}


.date-input[type="date" i] {
    cursor: default;
    display: inline-flex;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    width: 10%;
    font-size: 10px;
    color: black;
}

.header {
  /* background-color: #333; Background color */
  color: #fff; /* Text color */
  padding: 20px; /* Padding around the header */
  text-align: center; /* Center align text */
}

.header h1 {
  margin: 0; /* Remove default margin for h1 */
}


/*******************************Footer****************************/

.Footer-container {
  margin-top:300px ;
  width: 100%;
  background-color: black;
  padding: 20px;
  box-sizing: border-box;
  background-size: cover;
}


.Footer-container p {
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.Footer-container h5 {
  font-size: 17px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.Footer_col a img {
  background-color: gray;
  width: 30%;
  border-radius: 7px;
  cursor: pointer;
}

.Footer-copyright p {
  font-size: 17px;
  color: white;
}

Footer_col-1 {
  margin-top: 30px;
  text-align: center;
  width: 740px;
}

Footer_col-1 a {
  color: white;
}

.Footer_display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

blinking-text {
  animation: blink 1s infinite;
}


.animated-text {
  position: absolute;
  top: 0;
  bottom: 7px;
  left: 0;
  right: 0;
  color: white;
  animation: slideDown 10s linear infinite;
}

/*************************Header*******************/

.navbar {
  font-weight: bold;
  font-size: 15px;
  font-style: italic;
}

.logo {
  margin-right: 91%;
  max-width: 100px !important;
  max-height: 100px !important;
}



/* @media only screen and (max-width: 1200px)
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 20px;
  padding-right: 10px;
}
@media only screen and (max-width: 1547px)
.navbar-light .navbar-nav .nav-link {
  font-size: 12px;
}
@media only screen and (max-width: 1547px)
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 10px;
} */
.navbar-light .navbar-nav .nav-link {
  color: black;
  display: inline-block;
  position: relative;
  font-size: 14px;
}

.header {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  border-bottom: 5px double black;
}

.d-flex-align-items-center label{
  cursor: pointer;
  margin-bottom: 1px;
}

.hover-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}

/* Add some space between navbar icons */
.navbar-nav .nav-link:not(:last-child) {
  margin-right: 60px; /* Adjust the value as needed */
}

.title-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.title-image img {
  width: 100px; /* Adjust size as needed */
  height: auto;
}

.header h1{
  color: #000;
  margin-top: -88px;
}

.Addtask{
  max-width: 450px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 10%;
    border-radius: 39px;
background: linear-gradient(225deg, #e6e6e6, #ffffff);
box-shadow:  -16px 16px 25px #c9c9c9,
           16px -16px 25px #ffffff;
}

.Addtask [type="email" i] {
  padding-block: 3px;
  padding-inline: 2px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  color: black;
  margin-left: 95px;
  width: 50%;
}
.Addtask textarea {
  padding-block: 3px;
  padding-inline: 2px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  color: black; 
  margin-left: 25px;
  width: 50%;
 
}

.Addtask input[type="text" ] {
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
   width: 48%; 
   margin-left: 77px;
}

.Addtask input[type="date" i] {
    cursor: default;
    display: inline-flex;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    width: 48%;
    font-size: 10px;
    color: black;
    margin-left: 67px;
}
.Addtask button {
  background-color: #070707;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-left: 150px;
}
.Addtask h2 {
  display: block;
  margin-left: 150px;
}

.Addtask-button button {
  background-color: #070707;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-left: 150px;
}

/* In your CSS file, e.g., App.css */
.highlighted {
  border: 2px solid red; /* Example of a highlight effect */
  border-radius: 5px;
  /* You can add more styles to make it stand out */
}

input[type="text9" ] {
  padding: 9px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 88px;
  width: 50%;
}

input[type="text10" ] {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 2px;
  width: 65%;
}


input[type="text8" ] {
  padding: 9px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 20px;
}



select {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  -webkit-rtl-ordering: logical;
  background-color: field;
  cursor: default;
  margin: 0em;
  white-space: pre;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 0px;
  margin-left: 40px;
  padding: 9px;
  width: 176px;
  border-radius: 5px;
}


/* BadgeStyles.css */
.custom-badge {
  /* background-color: #f8f9fa; Light background */
  color: red; /* Text color */
  border-radius: 10px; /* Rounded corners */
  padding: 5px 10px; /* Padding for the badge */
  font-size: 0.9rem; /* Font size */
  font-weight: bold; /* Bold text */
  position: absolute; /* Absolute positioning */
  top: -5px; /* Adjust the position as needed */
  right: -10px; /* Adjust the position as needed */
}



.notification-dot {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    margin-right: -10px;
    margin-top: 4px;
}

input[type="text11" ] {
  padding: 11px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 85px;
  width: 50%;
}

.follow-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 4%;
  margin-right: -2%;
}

.working-buttons {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
.task-button{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 5px;
}
.task-button1{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
  